* {
    padding: 0%;
    margin: 0;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-color: black;
    color: white;
}
header {
    background-image: linear-gradient(rgba(41, 41, 41, 0.5),rgba(37, 37, 37, 0.9)), url("images/hero.jpg");
    background-repeat: no-repeat;
    background-size: auto auto;
    height: 93vh;
}
header > nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.grid-container {
    padding: 1rem 20rem;
}

.hero-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    color:white ;
}
.hero-description h1 {
    font-size: 3rem;
    font-weight: 800;
}
.hero-description h3 {
    margin: 1rem 0 1.5rem;
}
.hero-description p {
    margin-bottom: 1rem;
    font-size: 18px;
}
.hero-description form {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.hero-description form span {
    display: none;
}
.btn-assinar {
    padding: 0.7rem 2rem;
    font-size: 22px;
    font-weight: 500;
    background-color:#E50914 ;
    margin-left: 10px;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    
}
.btn-assinar:hover, #login-button:hover {
    background-color: #af0e16;
    transition: 0.2s;
}
.logo {
    width: 150px;
}
.select-indioma {
    background-color: transparent;
    border: 0.8px solid rgba(255, 255, 255, 0.321);
    padding: 8px 30px;
    border-radius: 5px;
    font-weight: 600;
    color: white;
    margin-right: 1rem;
}
#login-button {
    background-color: #E50914;
    color: white;
    text-decoration: none;
    padding: 7px 15px; 
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    font-family: 'Segoe UI', tahoma, Geneva, Verdana, sans-serif;   
}
#email {
    padding: 1rem 6rem;
    border: 1px solid rgba(255, 255, 255, 0.456);
    border-radius: 5px;
    background-color: rgb(22, 22, 22, 0.516);
    color: white;
}
#label-email {
    position: absolute;
    z-index: 1;
    margin-top: 5px;
    margin-left: 15px;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.614);
}
.beneficios-content {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
    padding-bottom: 4rem; 
    
}
section {
    border-bottom: 8px solid rgb(72, 72, 72);
}
.beneficios-content div h2 {
    font-size: 3rem;
    font-weight: 800;
}
.beneficios-content div p {
    font-size: 1.5rem;
    width: 94%;
    margin-top: 1rem;
}
.preview-video {
    position: absolute;
    overflow: hidden;
    z-index: -1;
}
#orientation-tv-video {
    top: 90px;
    left: 53.6%;
}
#orientation-devices-video {
    top: 80px;
    left: 23%;
    width: 365px;
}

.devices-image {
   width: 600px;
   margin-top: 2rem;
}
figure {
    position: relative;
}

#card-device {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid rgb(72, 72, 72);
    width: 60%;
    position: absolute;
    top: 70%;
    left: 15%;
    background-color: black;
}
#card-device div p {
   font-size: 14px;
   color: #0071eb;
   margin-top: 0%;
}

#card-device img {
   width: 80px;
   margin-right: 1rem;

}